body{
    background-color: rgb(94, 94, 94);
}

div#contents{
    background-color: coral;
    font-size: 32px;
    margin: 1%;
    height: 20vw;
}

p{
    background-color: bisque;
    font-size: 0.5em;
    line-height: 2em;
    margin: 1em;
}

article{
    background-color: goldenrod;
    font-size: 1.2rem;
    text-align: justify;
    width: 33%;
    height: 50%;
    
}

article div{
    background-color: crimson;
    height: 0.5em;
}

